@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html{
  text-rendering: optimizeLegibility;
  color:#fff;
  font-family: 'Open Sans', sans-serif;
  background-color: #3b3b3b;
  padding: 0;
  margin: 0;
}

input#givenWord{
  color: #fff;
  text-align: center;
  background: transparent;
  border-style: none;
  border-bottom: 5px solid #fff;
  margin-left: 20;
  margin-right: 20;
  min-width: 20px;
  max-width: 60%;
  padding: 0;
  display: inline-block;
  font-size: inherit;
  outline: none;

}

a{
  color:#fff;
}

.heart {
  fill: red;
	width: 20px;
}

#box{
  top:30%;
  position: relative;
  width:100%;
  height: auto;
  text-align: center;
  font-size: 10em;
}

footer{
  top:95%;
  height: 5%;
  width:100%;
  text-align: center;
  position: fixed;
  font-size: 1em;
}

body{
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #box{
    top:10%;
    font-size: 3em;
  }

  input#givenWord{
    max-width: 95%
  }
  footer{
    top:80%;
    height: 20%;
  }
}

#annoyingPopUp{
  z-index: 20;
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;

  background-color: #fff;
  color: #000;
}

#annoyingPopUp a{
  color:#3884ff;
}

#annoyingPopUp button{
  float:right;
  margin:2px;
  background: #3b3b3b;
  color: #fff;
  border: none;
}
