@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html{
  color:#fff;
  font-family: 'Open Sans', sans-serif;
  background-color: #3b3b3b;
}

input#givenWord{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);
  color: #fff;
  text-align: center;
  font-size: 10em;
  width: 80%;
  min-width: 300;
  background: transparent;
  border: 5px solid #eee;
  margin: 0 auto;
}

.onTopOfEachOther {
    position: relative;
}
.onTopOfEachOther span {
    position: absolute;
    top: 0px;
    left: 0px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

a{
  color:#fff;
}

.heart {
  fill: red;
	width: 20px;
}

#box{
  position: relative;
  width:100%;
  height: 100%;
  text-align: center;
}

h1{
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 10em;
  margin: 0 auto;
}

footer{
  top:95%;
  height: 5%;
  width:100%;
  text-align: center;
  position: fixed;
  font-size: 1em;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    h1{
      position: absolute;
      top: 0%;
      left: 50%;
      font-size: 8em;
      margin: 0 auto;
    }

    footer{
      top:80%;
      height: 10%;
      width:100%;
      text-align: center;
      position: fixed;
      font-size: 1em;
    }

    .heart {
      fill: red;
    	width: 60px;
    }

    input#givenWord{
      position: absolute;
      top: 60%;
      left: 2.5%;
      color: #fff;
      text-align: center;
      font-size: 8em;
      width: 95%;
      min-width: 300;
      background: transparent;
      border: 5px solid #eee;
      margin: 0 auto;
    }
}
